img {
    width: 15%;
}

img.links {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.rechts {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

body {
    font-family: 'Verdana', 'Arial', 'serif';
    margin-left: 20%;
    margin-right: 20%;
}